body {
    background-color: lightblue;
}


button {
    background-color: purple;
}

.butt {
    color: blue;
}

p {
    color: red;
}

.page {
    background-color: red;
    display: inline;
    border: 2px solid rgb(97, 1, 1);
}

.page:hover {
    background-color: blue;
    
}